In [1]:
import csv
import pandas as pd

In [6]:
data = pd.read_csv('q2.csv', sep=' ', names=('Range','Letter','Password'))
data['Letter']=data['Letter'].str.split(pat=':',expand=True)
data['Range']=data['Range'].str.split(pat='-')

In [7]:
data

        Range Letter              Password
0     [5, 10]      b         bhbjlkbbbbbbb
1      [3, 4]      j                  hjvj
2      [8, 9]      p             pmljtsttp
3      [3, 4]      t   hvtttqhdjmmnbqwbgfs
4      [4, 6]      m  mblwtzmvmdjkkmmtsckm
..        ...    ...                   ...
995  [16, 18]      d    gxzglqmddffqxqvppr
996    [4, 6]      f               fffmfff
997  [13, 16]      m   zfmcnzxfvmcmqmhcctv
998    [1, 8]      n              nnnnnnnm
999    [8, 9]      v            vvvvvvvvvg

[1000 rows x 3 columns]

In [9]:
count = 0
for i, row in data.iterrows():
    letter = row['Letter']
    password = row['Password']
    ll = int(row['Range'][0])
    ul = int(row['Range'][1])
    if password.count(letter) >= ll and password.count(letter) <= ul:
        count+=1
print(count)

439

In [10]:
count = 0
for i, row in data.iterrows():
    letter = row['Letter']
    password = row['Password']
    ll = int(row['Range'][0])
    ul = int(row['Range'][1])
    if (password[ll-1] == letter) + (password[ul-1] == letter) == 1:
        count+=1
print(count)

584