In [1]:
import csv
import pandas as pd

In [2]:
data = pd.read_csv('q2.csv', sep=' ', names=('Range','Letter'), index_col=2)
data['Letter']=data['Letter'].str.split(pat=':',expand=True)
data['Range']=data['Range'].str.split(pat='-')

In [3]:
data

                         Range Letter
bhbjlkbbbbbbb          [5, 10]      b
hjvj                    [3, 4]      j
pmljtsttp               [8, 9]      p
hvtttqhdjmmnbqwbgfs     [3, 4]      t
mblwtzmvmdjkkmmtsckm    [4, 6]      m
...                        ...    ...
gxzglqmddffqxqvppr    [16, 18]      d
fffmfff                 [4, 6]      f
zfmcnzxfvmcmqmhcctv   [13, 16]      m
nnnnnnnm                [1, 8]      n
vvvvvvvvvg              [8, 9]      v

[1000 rows x 2 columns]

In [4]:
count = 0
for password, row in data.iterrows():
    letter = row['Letter']
    ll = int(row['Range'][0])
    ul = int(row['Range'][1])
    if password.count(letter) >= ll and password.count(letter) <= ul:
        count+=1
print(count)

439

In [5]:
count = 0
for password, row in data.iterrows():
    letter = row['Letter']
    ll = int(row['Range'][0])
    ul = int(row['Range'][1])
    if (password[ll-1] == letter) + (password[ul-1] == letter) == 1:
        count+=1
print(count)

584